/* Main Content Section */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  /* Align content horizontally */
    padding: 100px 5%;
    background: linear-gradient(135deg, #00B0B9, #00c8c8);
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(10px);
    transition: transform 0.5s ease;
    margin-bottom: 30px;
    border-radius: 15px;  /* Smooth corners */
}

.main-content:hover {
    transform: translateY(0);
}

.main-content .text-content {
    flex: 1;
    margin-right: 30px;
}

.main-content .image-content {
    flex: 1;
 }

.main-content .image-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.main-content h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-content p {
    font-size: 22px;
    margin-top: 15px;
    line-height: 1.7;
}

.main-content .buttons {
    margin-top: 30px;
}

.main-content .buttons button {
    background-color: #007d7d;
    color: white;
    padding: 14px 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50px;
    margin-right: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: 600;
}

.main-content .buttons button:hover {
    background-color: #00B0B9;
    transform: scale(1.05);
}

/* Mobile Adjustments */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column; /* Stack text and image vertically */
        padding: 60px 10%;
    }

    .main-content .text-content {
        text-align: center;
        max-width: 100%;
        margin-bottom: 30px; /* More space at the bottom */
    }

    .main-content h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .main-content p {
        font-size: 18px;
        margin-bottom: 20px; /* Added space after the paragraph */
    }
 
    .main-content .buttons button {
        width: 100%; /* Full width for buttons on mobile */
        padding: 12px;
        font-size: 16px;
        margin-top: 10px;
    }

    .main-content .buttons {
        margin-top: 20px;
    }
}
